openapi: 3.1.0
info:
  title: Backbone TI WISP Management System API
  description: |
    API for managing a Wireless Internet Service Provider (WISP).
    Supports customer management, network topology, prepaid billing, and self-service.
  version: 1.0.0
  contact:
    name: Backbone TI WISP Support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.wisp.backbone-ti.com/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Development server

tags:
  - name: Auth
    description: API authentication and authorization
  - name: API Keys
    description: API Keys management
  - name: Users
    description: Staff user account management
  - name: Customers
    description: Customer account management
  - name: Customer addresses
    description: Customer addresses management
  - name: Service plans
    description: Service plans
  - name: Subscriptions
    description: Service subscriptions
  - name: Towers
    description: Towers
  - name: Network devices
    description: Network devices
  - name: Billing
    description: Balance, transactions, and invoices
  - name: Support
    description: Helpdesk tickets

paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Authenticates a user
      operationId: login
      requestBody:
        description: User credentials object that will be authenticated
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/logout:
    post:
      tags:
        - Auth
      summary: Revokes a refresh token
      operationId: logout
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/refresh-token:
    post:
      tags:
        - Auth
      summary: Rotates a user's tokens
      operationId: refreshToken
      requestBody:
        description: Refresh token context used to rotate the user's tokens
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/forgot-password:
    post:
      tags:
        - Auth
      summary: Requests a user password reset
      operationId: forgotPassword
      requestBody:
        description: User credentials object that will be reset
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/reset-password:
    post:
      tags:
        - Auth
      summary: Resets a user password
      operationId: resetPassword
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        description: User password object that will be changed
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/api-keys:
    get:
      tags:
        - API Keys
      summary: Lists API keys for current customer
      operationId: findAllApiKeys
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedApiKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []
    post:
      tags:
        - API Keys
      summary: Creates an API key for the current customer
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /users:
    get:
      tags:
        - Users
      summary: Lists all users
      operationId: findAllUsers
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
        - name: firstName
          in: query
          required: false
          description: User's first name
          schema:
            type: string
            maxLength: 64
        - name: lastName
          in: query
          required: false
          description: User's last name
          schema:
            type: string
            maxLength: 64
        - name: email
          in: query
          required: false
          description: User's email address
          schema:
            type: string
            maxLength: 64
        - name: status
          in: query
          required: false
          description: User status
          schema:
            type: string
            enum: [PENDING, ACTIVE, SUSPENDED, DELETED]
        - name: startDate
          in: query
          required: false
          description: Start date for date range filter in the ISO format YYYY-MM-DD
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          description: End date for date range filter in the ISO format YYYY-MM-DD
          schema:
            type: string
            format: date
        - name: roleIds
          in: query
          required: false
          description: User role identifiers (comma-separated list)
          schema:
            type: array
            items:
              type: integer
              format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedUsersResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /users/{userId}:
    get:
      tags:
        - Users
      summary: Gets a user by ID
      operationId: findUserById
      parameters:
        - name: userId
          in: path
          description: ID of user to query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    delete:
      tags:
        - Users
      summary: Deletes a user by ID
      operationId: deleteUser
      parameters:
        - name: userId
          in: path
          description: ID of user to deactivate
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /users/{userId}/suspend:
    post:
      tags:
        - Users
      summary: Suspends a user by ID
      operationId: suspendUser
      parameters:
        - name: userId
          in: path
          description: ID of user to suspend
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /users/{userId}/activate:
    post:
      tags:
        - Users
      summary: Activates a user by ID
      operationId: activateUser
      parameters:
        - name: userId
          in: path
          description: ID of user to active
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /users/{userId}/change-password:
    put:
      tags:
        - Users
      summary: Changes a user's password
      operationId: changePassword
      parameters:
        - name: userId
          in: path
          description: ID of user to change its password
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: User credentials object that will be changed
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /customers:
    post:
      tags:
        - Customers
      summary: Creates a customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []
    get:
      tags:
        - Customers
      summary: Lists all customers
      operationId: findAllCustomers
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
        - name: status
          in: query
          description: Filter customers by status
          schema:
            type: string
            enum: [PENDING, ACTIVE, SUSPENDED, DELETED]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCustomersResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Gets customer by ID
      operationId: findCustomerById
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    put:
      tags:
        - Customers
      summary: Updates a customer by ID
      operationId: updateCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerRequest"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    delete:
      tags:
        - Customers
      summary: Deletes a customer by ID
      operationId: deleteCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /customers/{customerId}/suspend:
    post:
      tags:
        - Customers
      summary: Suspends a customer by ID
      operationId: suspendCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /customers/{customerId}/activate:
    post:
      tags:
        - Customers
      summary: Activates a suspended customer by ID
      operationId: activateCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /customers/{customerId}/addresses:
    get:
      tags:
        - Customer addresses
      summary: Lists all addresses for a customer
      operationId: findAllCustomerAddresses
      parameters:
        - name: customerId
          in: path
          required: true
          description: ID of the customer to retrieve its addresses
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomerAddressResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      tags:
        - Customer addresses
      summary: Adds a new customer address
      operationId: createCustomerAddress
      parameters:
        - name: customerId
          in: path
          required: true
          description: ID of the customer to retrieve its addresses
          schema:
            type: integer
      requestBody:
        description: Address object that needs to be added
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerAddressRequest"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /customers/{customerId}/addresses/{addressId}:
    get:
      tags:
        - Customer addresses
      summary: Gets a customer address by ID
      operationId: findCustomerAddressById
      parameters:
        - name: customerId
          in: path
          required: true
          description: ID of the customer to query
          schema:
            type: integer
            format: int64
        - name: addressId
          in: path
          required: true
          description: ID of the address to query
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerAddressResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    put:
      tags:
        - Customer addresses
      summary: Updates a customer address by ID
      operationId: updateCustomerAddress
      parameters:
        - name: customerId
          in: path
          description: ID of the customer to query
          required: true
          schema:
            type: integer
            format: int64
        - name: addressId
          in: path
          description: ID of the address to query
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Address object that needs to be updated
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerAddressRequest"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    delete:
      tags:
        - Customer addresses
      summary: Deletes a customer address by ID
      operationId: deleteCustomerAddress
      parameters:
        - name: customerId
          in: path
          description: ID of the customer to query
          required: true
          schema:
            type: integer
            format: int64
        - name: addressId
          in: path
          description: ID of the address to query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /service-plans:
    get:
      tags:
        - Service plans
      summary: Lists available service plans
      operationId: findAllServicePlans
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedServicePlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /service-plans/{servicePlanId}:
    get:
      tags:
        - Service plans
      summary: Gets service plan details
      operationId: findServicePlanById
      parameters:
        - name: servicePlanId
          in: path
          required: true
          description: Unique identifier of the service plan
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Plan details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServicePlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /subscriptions:
    get:
      tags:
        - Subscriptions
      summary: Lists customer subscriptions
      operationId: findAllSubscriptions
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedSubscriptionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      tags:
        - Subscriptions
      summary: Creates a new subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubscriptionRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /subscriptions/{subscriptionId}:
    get:
      tags:
        - Subscriptions
      summary: Gets subscription by ID
      operationId: findSubscriptionById
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the subscription
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    patch:
      tags:
        - Subscriptions
      summary: Updates subscription (change plan)
      operationId: updateSubscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the subscription
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSubscriptionRequest"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /subscriptions/{subscriptionId}/suspend:
    post:
      tags:
        - Subscriptions
      summary: Suspends a subscription
      operationId: suspendSubscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the subscription
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
      security:
        - BearerAuth: []

  /subscriptions/{subscriptionId}/activate:
    post:
      tags:
        - Subscriptions
      summary: Activates a suspended subscription
      operationId: activateSubscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the subscription
          schema:
            type: integer
            format: int64
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /towers:
    get:
      tags:
        - Towers
      summary: Lists all towers
      operationId: findAllTowers
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedTowerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      tags:
        - Towers
      summary: Creates a new tower
      operationId: createTower
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTowerRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /towers/{towerId}:
    get:
      tags:
        - Towers
      summary: Gets a tower by ID
      operationId: findTowerById
      parameters:
        - name: towerId
          in: path
          required: true
          description: Unique identifier of the tower
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Tower details with sectors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TowerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /towers/{towerId}/sectors:
    get:
      tags:
        - Towers
      summary: Lists sectors for a tower
      operationId: findAllSectorsByTower
      parameters:
        - name: towerId
          in: path
          required: true
          description: Unique identifier of the tower
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedSectorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      tags:
        - Towers
      summary: Creates a sector on a tower
      operationId: createSector
      parameters:
        - name: towerId
          in: path
          required: true
          description: Unique identifier of the tower
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSectorRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /devices:
    get:
      tags:
        - Network devices
      summary: Lists network devices
      operationId: findAllNetworkDevices
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
        - name: type
          in: query
          description: Filter devices by type
          schema:
            type: string
            enum: [CPE, AP, ROUTER, SWITCH, ONT, OTHER]
        - name: status
          in: query
          description: Filter devices by status
          schema:
            type: string
            enum: [ONLINE, OFFLINE, PROVISIONED, DECOMMISSIONED]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedNetworkDeviceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      tags:
        - Network devices
      summary: Registers a new network device
      operationId: createNetworkDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNetworkDeviceRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /devices/{deviceId}:
    get:
      tags:
        - Network devices
      summary: Gets device details
      operationId: findNetworkDeviceById
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Unique identifier of the network device
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Device details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkDeviceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /devices/{deviceId}/assign:
    post:
      tags:
        - Network devices
      summary: Assigns device to customer
      operationId: assignNetworkDevice
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Unique identifier of the network device
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignDeviceRequest"
      responses:
        "200":
          description: Device assigned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkDeviceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /balance:
    get:
      tags:
        - Billing
      summary: Gets current customer's balance
      operationId: getCustomerBalance
      responses:
        "200":
          description: Balance information
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_id:
                    type: integer
                    description: Unique identifier of the customer
                  balance:
                    type: number
                    format: decimal
                    description: Current account balance
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /balance/topup:
    post:
      tags:
        - Billing
      summary: Adds balance to account
      operationId: createTopup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTopupRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /transactions:
    get:
      tags:
        - Billing
      summary: Gets transaction history
      operationId: findAllTransactions
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
        - name: type
          in: query
          description: Filter transactions by type
          schema:
            type: string
            enum: [TOPUP, PAYMENT, REFUND, ADJUSTMENT]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedTransactionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /invoices:
    get:
      tags:
        - Billing
      summary: Gets current customer's invoices
      operationId: findAllInvoices
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
        - name: status
          in: query
          description: Filter invoices by status
          schema:
            type: string
            enum: [DRAFT, SENT, PAID, OVERDUE, CANCELLED]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedInvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /invoices/{invoiceId}:
    get:
      tags:
        - Billing
      summary: Gets invoice details
      operationId: findInvoiceById
      parameters:
        - name: invoiceId
          in: path
          required: true
          description: Unique identifier of the invoice
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /tickets:
    get:
      tags:
        - Support
      summary: Lists support tickets
      operationId: findAllTickets
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/SortParam"
        - name: status
          in: query
          description: Filter tickets by status
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, PENDING, RESOLVED, CLOSED]
      responses:
        "200":
          description: List of tickets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedTicketResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      tags:
        - Support
      summary: Creates a support ticket
      operationId: createTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /tickets/{ticketId}:
    get:
      tags:
        - Support
      summary: Gets ticket details with messages
      operationId: findTicketById
      parameters:
        - name: ticketId
          in: path
          required: true
          description: Unique identifier of the ticket
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Ticket details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /tickets/{ticketId}/messages:
    post:
      tags:
        - Support
      summary: Adds message to ticket
      operationId: addTicketMessage
      parameters:
        - name: ticketId
          in: path
          required: true
          description: Unique identifier of the ticket
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTicketMessageRequest"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /tickets/{ticketId}/close:
    post:
      tags:
        - Support
      summary: Closes a ticket
      operationId: closeTicket
      parameters:
        - name: ticketId
          in: path
          required: true
          description: Unique identifier of the ticket
          schema:
            type: integer
            format: int64
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    LoginRequest:
      type: object
      properties:
        email:
          description: User's email address
          type: string
        password:
          description: User's password
          type: string
        device_fingerprint:
          description: Device fingerprint used to identify the client device
          type: string
      required:
        - email
        - password
        - device_fingerprint

    RefreshTokenRequest:
      type: object
      properties:
        device_fingerprint:
          description: Device fingerprint used to identify the client device
          type: string
      required:
        - device_fingerprint

    ForgotPasswordRequest:
      type: object
      properties:
        email:
          description: User's email address
          type: string
      required:
        - email

    ResetPasswordRequest:
      type: object
      properties:
        password:
          description: New password for the user account
          type: string
        confirm_password:
          description: Confirmation of the new password
          type: string
      required:
        - password
        - confirm_password

    ChangePasswordRequest:
      type: object
      properties:
        current_password:
          description: User's current password
          type: string
        new_password:
          description: New password for the user account
          type: string
        confirm_password:
          description: Confirmation of the new password
          type: string
      required:
        - current_password
        - new_password
        - confirm_password

    CreateApiKeyRequest:
      type: object
      description: Request body for creating a new API key
      required:
        - name
      properties:
        name:
          type: string
          description: API key name
        expires_in_days:
          type: integer
          description: Number of days until the API key expires

    PagedUsersResponse:
      type: object
      description: Paginated list of users response
      properties:
        items:
          type: array
          description: List of users
          items:
            $ref: "#/components/schemas/UserResponse"
        pagination:
          description: Pagination metadata
          $ref: "#/components/schemas/PaginationResponse"

    PagedCustomersResponse:
      type: object
      description: Paginated response containing a list of customers and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Customer records for the current page
          items:
            $ref: "#/components/schemas/CustomerResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedServicePlanResponse:
      type: object
      description: Paginated response containing a list of service plans and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Service plans for the current page
          items:
            $ref: "#/components/schemas/ServicePlanResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedSubscriptionResponse:
      type: object
      description: Paginated response containing a list of subscriptions and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Subscriptions for the current page
          items:
            $ref: "#/components/schemas/SubscriptionResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedTowerResponse:
      type: object
      description: Paginated response containing a list of towers and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Towers for the current page
          items:
            $ref: "#/components/schemas/TowerResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedSectorResponse:
      type: object
      description: Paginated response containing a list of sectors and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Sectors for the current page
          items:
            $ref: "#/components/schemas/SectorResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedNetworkDeviceResponse:
      type: object
      description: Paginated response containing a list of network devices and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Network devices for the current page
          items:
            $ref: "#/components/schemas/NetworkDeviceResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedTransactionResponse:
      type: object
      description: Paginated response containing a list of transactions and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Transactions for the current page
          items:
            $ref: "#/components/schemas/TransactionResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedInvoiceResponse:
      type: object
      description: Paginated response containing a list of invoices and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Invoices for the current page
          items:
            $ref: "#/components/schemas/InvoiceResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedTicketResponse:
      type: object
      description: Paginated response containing a list of tickets and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: Support tickets for the current page
          items:
            $ref: "#/components/schemas/TicketResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    PagedApiKeyResponse:
      type: object
      description: Paginated response containing a list of API keys and pagination metadata
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: API keys for the current page
          items:
            $ref: "#/components/schemas/ApiKeyResponse"
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
          description: Pagination metadata for the current result set

    CreateCustomerRequest:
      type: object
      description: Request body for registering a new customer account
      required:
        - first_name
        - last_name
        - email
        - password
        - phone_number
      properties:
        first_name:
          type: string
          description: Customer first name
        last_name:
          type: string
          description: Customer last name
        email:
          type: string
          format: email
          description: Customer email address
        password:
          type: string
          format: password
          description: Customer account password
          minLength: 8
        phone_number:
          type: string
          description: Customer phone number

    CreateSubscriptionRequest:
      type: object
      description: Request body for creating a new subscription
      required:
        - plan_id
        - username
        - password
        - customer_id
        - customer_address_id
      properties:
        plan_id:
          type: integer
          description: Service plan identifier
        username:
          type: string
          description: PPPoE username for the subscription
        password:
          type: string
          description: PPPoE password for the subscription
        customer_id:
          type: integer
          description: Customer identifier
        customer_address_id:
          type: integer
          description: Customer address identifier
        device_id:
          type: integer
          description: Network device identifier to assign

    UpdateSubscriptionRequest:
      type: object
      description: Request body for updating a subscription
      properties:
        plan_id:
          type: integer
          description: Updated service plan identifier

    AssignDeviceRequest:
      type: object
      description: Request body for assigning a device to a customer
      required:
        - customer_id
      properties:
        customer_id:
          type: integer
          description: Customer identifier to assign to the device

    CreateTopupRequest:
      type: object
      description: Request body for adding balance to an account
      required:
        - amount
        - payment_method
      properties:
        amount:
          type: number
          format: decimal
          description: Top-up amount
          minimum: 1
        payment_method:
          type: string
          description: Payment method used for the top-up
          enum: [CASH, BANK_TRANSFER, CREDIT_CARD, DEBIT_CARD]
        reference:
          type: string
          description: External payment reference or transaction identifier

    CreateTicketRequest:
      type: object
      description: Request body for creating a support ticket
      required:
        - category
        - subject
        - description
      properties:
        category:
          type: string
          description: Category of the support ticket
          enum: [TECHNICAL, BILLING, ACCOUNT, OTHER]
        priority:
          type: string
          description: Priority level of the ticket
          enum: [LOW, MEDIUM, HIGH, URGENT]
          default: MEDIUM
        subject:
          type: string
          description: Ticket subject line
        description:
          type: string
          description: Detailed description of the support issue

    AddTicketMessageRequest:
      type: object
      description: Request body for adding a message to a ticket
      required:
        - message
      properties:
        message:
          type: string
          description: Support ticket message content

    UpdateCustomerRequest:
      type: object
      description: Fields that can be updated for a customer
      properties:
        first_name:
          type: string
          description: Customer first name
        last_name:
          type: string
          description: Customer last name
        phone_number:
          type: string
          description: Customer phone number

    CreateCustomerAddressRequest:
      type: object
      properties:
        street_name:
          description: Street name of the address
          type: string
        street_number:
          description: Street number of the address
          type: string
        apartment_number:
          description: Apartment or suite number
          type: string
        sublocality:
          description: Neighborhood or sublocality of the address
          type: string
        locality:
          description: City or locality of the address
          type: string
        state:
          description: State or province of the address
          type: string
        country:
          type: string
          description: Country code of the address
        postal_code:
          description: Postal code of the address
          type: string
        is_default:
          type: boolean
          description: Whether this is the default address
          default: true
      required:
        - street_name
        - street_number
        - sublocality
        - locality
        - state
        - country
        - postal_code

    UpdateCustomerAddressRequest:
      type: object
      properties:
        street_name:
          description: Street name of the address
          type: string
        street_number:
          description: Street number of the address
          type: string
        sublocality:
          description: Neighborhood or sublocality of the address
          type: string
        locality:
          description: City or locality of the address
          type: string
        state:
          description: State or province of the address
          type: string
        country:
          type: string
          description: Country code of the address
        postal_code:
          description: Postal code of the address
          type: string
      required:
        - street_name
        - street_number
        - sublocality
        - locality
        - state
        - country
        - postal_code

    CreateTowerRequest:
      type: object
      description: Request body for creating a new tower
      required:
        - name
        - code
      properties:
        name:
          type: string
          description: Tower name
        code:
          type: string
          description: Internal tower code
        address:
          type: string
          description: Tower physical address
        latitude:
          type: number
          description: Tower latitude
        longitude:
          type: number
          description: Tower longitude

    CreateSectorRequest:
      type: object
      description: Request body for creating a new sector
      required:
        - name
        - sector_number
      properties:
        name:
          type: string
          description: Sector name
        sector_number:
          type: integer
          description: Sector number
        azimuth:
          type: integer
          default: 0
          description: Azimuth angle in degrees (0-360)
        angle_width:
          type: integer
          default: 60
          description: Beam angle width in degrees
        frequency_band:
          type: string
          description: Operating frequency band (e.g., 2.4GHz, 5GHz)
        channel_width:
          type: integer
          description: Channel width in MHz
        tx_power:
          type: integer
          description: Transmit power in dBm

    CreateNetworkDeviceRequest:
      type: object
      description: Request body for registering a new network device
      required:
        - mac_address
        - device_type
      properties:
        mac_address:
          type: string
          description: Device MAC address
        device_type:
          type: string
          enum: [CPE, AP, ROUTER, SWITCH, ONT, OTHER]
          description: Type of network device
        vendor:
          type: string
          description: Device manufacturer
        model:
          type: string
          description: Device model
        serial_number:
          type: string
          description: Device serial number
        firmware_version:
          type: string
          description: Installed firmware version
        ip_address:
          type: string
          description: Device IP address

    LoginResponse:
      type: object
      description: Login response with user information
      properties:
        id:
          type: integer
          description: Unique identifier for the user
        first_name:
          type: string
          description: User's first name
        last_name:
          type: string
          description: User's last name
        email:
          type: string
          description: User's email address
        roles:
          type: array
          description: Roles assigned to the user
          items:
            $ref: "#/components/schemas/UserRoleResponse"
        access_token:
          type: string
          description: Access token
        refresh_token:
          type: string
          description: Refresh token

    UserResponse:
      type: object
      description: User information
      properties:
        id:
          type: integer
          description: Unique identifier for the user
        first_name:
          type: string
          description: User's first name
        last_name:
          type: string
          description: User's last name
        email:
          type: string
          description: User's email address
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, DELETED]
          description: User status
        roles:
          type: array
          description: Roles assigned to the user
          items:
            $ref: "#/components/schemas/UserRoleResponse"
        created_at:
          type: string
          format: date-time
          description: Timestamp when the user was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the user was last updated
        deleted_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the user was deleted (soft delete)

    UserRoleResponse:
      type: object
      description: User role information
      properties:
        id:
          type: integer
          format: int8
          description: Unique identifier for the role
        type:
          type: string
          description: Type of user role
        description:
          type: string
          description: Description of the role

    CustomerResponse:
      type: object
      description: Customer account information
      properties:
        id:
          type: integer
          description: Unique customer identifier
        first_name:
          type: string
          description: Customer first name
        last_name:
          type: string
          description: Customer last name
        email:
          type: string
          format: email
          description: Customer email address
        phone_number:
          type: string
          description: Customer phone number
        balance:
          type: number
          format: decimal
          description: Current customer account balance
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, DELETED]
          description: Customer account status
        created_at:
          type: string
          format: date-time
          description: Timestamp when the customer account was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the customer account was last updated
        deleted_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the customer account was deleted (soft delete)

    CustomerAddressResponse:
      type: object
      description: Customer address information
      properties:
        id:
          type: integer
          description: Unique identifier for the address
        street_name:
          type: string
          description: Street name of the address
        street_number:
          type: string
          description: Street number
        apartment_number:
          type: ["string", "null"]
          description: Apartment or suite number
        sublocality:
          type: string
          description: Sublocality or neighborhood
        locality:
          type: string
          description: City or locality
        state:
          type: string
          description: State or province
        country:
          type: string
          description: Country code
        postal_code:
          type: string
          description: Postal code
        is_default:
          type: boolean
          description: Whether the address is default
        customer_id:
          type: integer
          description: Foreign key to customers table
        created_at:
          type: string
          format: date-time
          description: Timestamp when the address was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the address was last updated

    ServicePlanResponse:
      type: object
      description: Internet service plan details
      properties:
        id:
          type: integer
          description: Unique plan identifier
        name:
          type: string
          description: Plan name
        code:
          type: string
          description: Internal service plan code
        description:
          type: ["string", "null"]
          description: Service plan description
        download_speed_mbps:
          type: ["integer", "null"]
          description: Maximum download speed in Mbps
        upload_speed_mbps:
          type: ["integer", "null"]
          description: Maximum upload speed in Mbps
        price:
          type: number
          format: decimal
          description: Recurring service plan price
        billing_cycle:
          type: string
          enum: [MONTHLY, QUARTERLY, YEARLY]
          description: Service plan billing cycle
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DELETED]
          description: Service plan status
        created_at:
          type: string
          format: date-time
          description: Timestamp when the plan was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the plan was last updated
        deleted_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the plan was deleted (soft delete)

    SubscriptionResponse:
      type: object
      description: Customer subscription to a service plan
      properties:
        id:
          type: integer
          description: Unique subscription identifier
        customer_id:
          type: integer
          description: ID of the customer who owns this subscription
        customer_address_id:
          type: integer
          description: Customer address used by the subscription
        plan_id:
          type: integer
          description: Service plan identifier
        plan:
          $ref: "#/components/schemas/ServicePlanResponse"
          description: Service plan assigned to the subscription
        device_id:
          type: ["integer", "null"]
          description: Assigned network device identifier
        username:
          type: string
          description: PPPoE username for the subscription
        pppoe_ip_address:
          type: ["string", "null"]
          description: Assigned PPPoE IP address
        static_ip_address:
          type: ["string", "null"]
          description: Assigned static IP address (if any)
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, CANCELLED]
          description: Subscription status
        activated_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the subscription was activated
        suspended_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the subscription was suspended
        cancelled_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the subscription was cancelled
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the subscription was created

    TowerResponse:
      type: object
      description: Wireless tower information
      properties:
        id:
          type: integer
          description: Unique tower identifier
        name:
          type: string
          description: Tower name
        code:
          type: string
          description: Internal tower code
        address:
          type: ["string", "null"]
          description: Tower physical address
        latitude:
          type: ["number", "null"]
          format: decimal
          description: Tower latitude
        longitude:
          type: ["number", "null"]
          format: decimal
          description: Tower longitude
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, DELETED]
          description: Tower operational status
        created_at:
          type: string
          format: date-time
          description: Timestamp when the tower was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the tower was last updated
        deleted_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the tower was deleted (soft delete)
        sectors:
          type: array
          items:
            $ref: "#/components/schemas/SectorResponse"
          description: List of sectors on this tower

    SectorResponse:
      type: object
      description: Wireless sector information on a tower
      properties:
        id:
          type: integer
          description: Unique sector identifier
        tower_id:
          type: integer
          description: ID of the parent tower
        name:
          type: string
          description: Sector name
        sector_number:
          type: integer
          description: Sector number
        azimuth:
          type: integer
          description: Azimuth angle in degrees (0-360)
        angle_width:
          type: integer
          description: Beam angle width in degrees
        frequency_band:
          type: ["string", "null"]
          description: Operating frequency band (e.g., 2.4GHz, 5GHz)
        channel_width:
          type: ["integer", "null"]
          description: Channel width in MHz
        tx_power:
          type: ["integer", "null"]
          description: Transmit power in dBm
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, DELETED]
          description: Sector operational status
        created_at:
          type: string
          format: date-time
          description: Timestamp when the sector was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the sector was last updated
        deleted_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the sector was deleted (soft delete)

    NetworkDeviceResponse:
      type: object
      description: Network device information
      properties:
        id:
          type: integer
          description: Unique device identifier
        mac_address:
          type: string
          description: Device MAC address
        device_type:
          type: string
          enum: [CPE, AP, ROUTER, SWITCH, ONT, OTHER]
          description: Type of network device
        vendor:
          type: ["string", "null"]
          description: Device manufacturer
        model:
          type: ["string", "null"]
          description: Device model
        serial_number:
          type: ["string", "null"]
          description: Device serial number
        firmware_version:
          type: ["string", "null"]
          description: Installed firmware version
        ip_address:
          type: ["string", "null"]
          description: Device IP address
        sector_id:
          type: ["integer", "null"]
          description: ID of the sector this device is assigned to
        customer_id:
          type: ["integer", "null"]
          description: ID of the customer who owns this device
        status:
          type: string
          enum: [ONLINE, OFFLINE, PROVISIONED, DECOMMISSIONED, DELETED]
          description: Device operational status
        created_at:
          type: string
          format: date-time
          description: Device registration timestamp
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the device was last updated
        deleted_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the device was deleted (soft delete)

    TransactionResponse:
      type: object
      description: Financial transaction record
      properties:
        id:
          type: integer
          description: Unique transaction identifier
        customer_id:
          type: integer
          description: ID of the customer associated with this transaction
        type:
          type: string
          enum: [TOPUP, PAYMENT, REFUND, ADJUSTMENT]
          description: Type of transaction
        amount:
          type: number
          format: decimal
          description: Transaction amount
        payment_method:
          type: string
          enum: [CREDIT_CARD, DEBIT_CARD, BANK_TRANSFER, CASH]
          description: Payment method used
        reference:
          type: string
          description: External payment reference or transaction identifier
        description:
          type: string
          description: Transaction note or description
        created_at:
          type: string
          format: date-time
          description: Timestamp when the transaction was created

    InvoiceResponse:
      type: object
      description: Invoice for customer services
      properties:
        id:
          type: integer
          description: Unique invoice identifier
        invoice_number:
          type: string
          description: Human-readable invoice number
        notes:
          type: ["string", "null"]
          description: Invoice notes
        customer_id:
          type: integer
          description: ID of the customer invoiced
        subscription_id:
          type: ["integer", "null"]
          description: ID of the subscription this invoice is for
        amount:
          type: number
          format: decimal
          description: Invoice amount
        status:
          type: string
          enum: [DRAFT, SENT, PAID, OVERDUE, CANCELLED]
          description: Invoice payment status
        due_date:
          type: ["string", "null"]
          format: date
          description: Invoice due date
        paid_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the invoice was paid
        created_at:
          type: string
          format: date-time
          description: Timestamp when the invoice was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the invoice was last updated

    ApiKeyResponse:
      type: object
      description: API key for programmatic access
      properties:
        id:
          type: integer
          description: Unique API key identifier
        name:
          type: string
          description: User-defined name for the API key
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
          description: API key status
        last_used_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the API key was last used
        expires_at:
          type: ["string", "null"]
          format: date-time
          description: API key expiration timestamp
        created_at:
          type: string
          format: date-time
          description: Timestamp when the API key was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the API key was last updated

    TicketResponse:
      type: object
      description: Support ticket information
      properties:
        id:
          type: integer
          description: Unique ticket identifier
        ticket_number:
          type: string
          description: Human-readable ticket number
        customer_id:
          type: integer
          description: ID of the customer who created the ticket
        category:
          type: string
          enum: [TECHNICAL, BILLING, ACCOUNT, OTHER]
          description: Ticket category
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
          description: Ticket priority level
        subject:
          type: string
          description: Ticket subject line
        status:
          type: string
          enum: [OPEN, IN_PROGRESS, PENDING, RESOLVED, CLOSED]
          description: Ticket status
        resolved_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the ticket was resolved
        closed_at:
          type: ["string", "null"]
          format: date-time
          description: Timestamp when the ticket was closed
        created_at:
          type: string
          format: date-time
          description: Timestamp when the ticket was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the ticket was last updated

    TicketDetailResponse:
      allOf:
        - $ref: "#/components/schemas/TicketResponse"
        - type: object
          description: Detailed ticket information with messages
          properties:
            description:
              type: string
              description: Detailed description of the support issue
            assigned_to:
              type: ["integer", "null"]
              description: Identifier of the user assigned to the ticket
            messages:
              type: array
              description: Messages associated with the ticket
              items:
                type: object
                description: Ticket message
                properties:
                  id:
                    type: integer
                    description: Ticket message identifier
                  user_type:
                    type: string
                    description: Type of actor who sent the message
                  message:
                    type: string
                    description: Ticket message content
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the message was created
                  updated_at:
                    type: string
                    format: date-time
                    description: Timestamp when the message was last updated

    PaginationResponse:
      type: object
      description: Metadata describing pagination information for a paginated response
      required:
        - page
        - size
        - total_items
        - total_pages
      properties:
        page:
          type: integer
          description: Current page index (0-based)
        size:
          type: integer
          description: Number of items returned per page
        total_items:
          type: integer
          description: Total number of available items
        total_pages:
          type: integer
          description: Total number of pages available

    AppExceptionResponse:
      type: object
      description: Standard error response returned when an application exception occurs
      properties:
        message:
          type: string
          description: Human-readable error message
        error:
          type: string
          description: Short error identifier or error type
        status:
          type: integer
          description: HTTP status code associated with the error
        details:
          type: object
          description: Additional validation or error details
          additionalProperties:
            type: string
        path:
          type: string
          description: API endpoint path where the error occurred
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error was generated

  parameters:
    PageParam:
      name: page
      in: query
      required: false
      description: Page index (0-based)
      schema:
        type: integer
        format: int32
        default: 0

    SizeParam:
      name: size
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        format: int32
        default: 25

    SortParam:
      name: sort
      in: query
      required: false
      description: Sorting criteria in the format field,asc or field,desc
      schema:
        type: string
        default: id,asc

  responses:
    Created:
      description: Created

    NoContent:
      description: No content

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppExceptionResponse"

    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppExceptionResponse"

    UnprocessableEntity:
      description: Unprocessable entity
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppExceptionResponse"

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppExceptionResponse"

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppExceptionResponse"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppExceptionResponse"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
